nav{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    color: white;
    padding: 35px;
    h1{
        font-style: italic;
        font-size: 40px;
    }
    div{
        display: flex;
        flex-direction: column;
        a{
            i{
                color: white;
            }
        }
i{
    font-size: 50px;
}
    }
    }

